/****************************************
 * Default configuration file for ARMen
 * All environment-specific configurations
 * are stored in the 'conf' folder and
 * imported under profile names here.
 * Copyright (c) Authors 2017 
 * Authors:
 *  Fredrik Boulund <fredrik.boulund@ki.se>
 ****************************************/

profiles {
    local {
        includeConfig 'conf/local_refseq.config'
    }
    milou {
        includeConfig 'conf/milou.config'
    }
}

manifest {
    homePage = 'https://github.com/ctmrbio/armen'
    description = '''Antibotic Resistance profiling of Metagenomics data''' 
    mainScript = 'armen.nf'
}
