/****************************************
 * Prototype CTMR metagenomics workflow
 * Copyright (c) Authors 2017 
 * Authors:
 *  Fredrik Boulund <fredrik.boulund@ki.se>
 ****************************************/

params {
    project = 'b2016210'
    outdir = 'armen_output'
    input_reads = '' // Specify on command line as: --input_reads path/to/reads*{1,2}.fq
	bbduk_ref = '/home/ctmr/src/bbmap/resources/adapters.fa'
	bbduk_minlen = 75
	bbduk_qtrim = 'rl'
	bbduk_trimq = 20
	bbduk_ktrim = 'r'
	bbduk_k = 25
	bbduk_mink = 11
	bbduk_hdist = 1
	human_db = '/home/ctmr/db/hg19/'
	removehuman_minid = 0.95
	removehuman_maxindel = 3 
	removehuman_minhits = 2 
	removehuman_bandwidthratio = 0.16 
	removehuman_bandwidth = 12 
	removehuman_quickmatch = 'quickmatch'
	removehuman_fast = 'fast'
	removehuman_qtrim = 'rl'
	removehuman_trimq = 10 
	removehuman_untrim = 'untrim'
	megares_path = '/home/ctmr/db/MEGARes/latest/'
	megares_fasta = '/home/ctmr/db/MEGARes/latest/megares_database_v1.01.fasta'
	megares_annotations = '/home/ctmr/db/MEGARes/latest/megares_annotations_v1.01.csv'
}

env {
    PATH = ["/home/ctmr/anaconda3/bin",
            "/home/ctmr/bin",
            '$PATH'].join(":")
}

process {
    executor = 'local'
    errorStrategy = 'ignore' 
    
    // Resource and module requirements for processes
    $qa_reads {
		maxForks = 1
        cpus = 4
        memory = 30.GB 
    }
    $remove_human {
		maxForks = 1
        cpus = 40
        memory = 60.GB  
    }
	$megares {
		maxForks = 1
		cpus = 4
		memory = 32.GB
	}
}
