/****************************************
 * Prototype CTMR metagenomics workflow
 * Copyright (c) Authors 2017 
 * Authors:
 *  Fredrik Boulund <fredrik.boulund@ki.se>
 ****************************************/

params {
    project = 'b2016210'
    outdir = 'armen_output'
    input_reads = '' // Specify on command line as: --input_reads path/to/reads*{1,2}.fq
	bbduk_ref = '/proj/b2016371/src/bbmap/resources/adapters.fa'
	bbduk_minlen = 25
	bbduk_qtrim = 'rl'
	bbduk_trimq = 10
	bbduk_ktrim = 'r'
	bbduk_k = 25
	bbduk_mink = 11
	bbduk_hdist = 1
	human_db = '/proj/nobackup/b2016371/db/hg19/'
	bbmap_minid = 0.9
	megares_path = '/proj/nobackup/b2016371/db/MEGARes/latest/'
	megares_fasta = '/proj/nobackup/b2016371/db/MEGARes/latest/megares_database_v1.01.fasta'
	megares_annotations = '/proj/nobackup/b2016371/db/MEGARes/latest/megares_annotations_v1.01.csv'
    clusterOptions = false
}

env {
    PATH = ["/proj/b2016371/anaconda3/bin",
            "/proj/b2016371/src/bbmap",
            "/proj/b2016371/bin",
            '$PATH'].join(":")
}

process {
    executor = 'slurm'
    clusterOptions = {
        "-A ${params.project}" + (params.clusterOptions ?: '')
    }
    errorStrategy = 'ignore'
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'copy'
    
    // Resource and module requirements for processes
    $qa_reads {
        cpus = 4
        memory = 32.GB 
        time = {15.m * task.attempt}
    }
    $remove_human {
        cpus = 4
        memory = 32.GB  
        time = {30.m * task.attempt}
    }
	$megares {
        cpus = 4
        memory = 32.GB  
        time = 30.m
	}
}
